<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mvp.css' ) }}" />
    <title> Language Data Collector </title>
</head>

<body>
  <header>
  <nav>
    <a href="{{ url_for('index') }}"> <h2> Home </h2>   </a>
    <ul>
    {% if user %}
      {% if user.is_authenticated  %}
        <li> <a href="{{ url_for('logout') }}"> <h2> Logout </h2> </a> </li>
      {% else %}
        <li> <a href="{{ url_for('register') }}"> <h2> Register </h2> </a> </li>
        <li> <a href="{{ url_for('login') }}"> <h2> Login </h2> </a> </li>
      {% endif %}
    {% endif %}
    </ul>
  </nav>
  

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% block content %} {% endblock %}
  </header>

</body>

</html>